* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar__navlinks {
  margin-top: 2em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin-right: 1em;
}

.navbar__logo {
  width: auto;
  height: 1.6rem;
  display: inline-block;
  margin-top: 2em;
  margin-left: 1.6em;
}

.hero-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.hero {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.hero__title {
  text-align: center;
  color: #070439;
  font-family: "Open Sans";
  font-weight: 700;
  margin-top: 1.7em;
  margin-inline: 0.2em;
}

.hero__description {
  text-align: center;
  width: 73.5%;
  margin-block: 2em;
  line-height: 1.5;
  margin-inline: 3em;
}

.hero__image {
  margin-top: 5em;
  height: 16em;
  margin-inline: 2em;
}

.hero-flex-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image {
  height: 16em;
  margin-inline: 2em;
}

.container__title {
  font-size: 1.3em;
  text-align: center;
  color: #070439;
  margin-left: 1.9em;
}

.container__description {
  margin-inline: 1.7em;
  color: #585989;
  margin-block: 2em;
  line-height: 1.8;
  width: 85%;
}

.container__image {
  margin-top: 12em;
  margin-bottom: 5em;
}

.container__link {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  color: #3c9f8f;
  position: relative;
  font-weight: 500;
  font-family: "Open Sans";
}

input[type="email"] {
  margin-inline: 2em;
  margin-bottom: 1.6em;
  width: 80%;
  border: 1px solid #585989;
  border-radius: 0.2em;
  padding-block: 1em;
}

.hero-flex-group input:nth-child(1)::-webkit-input-placeholder {
  color: black;
  font-weight: 500;
  margin-left: 2em;
}

.hero-flex-group input:nth-child(1):-ms-input-placeholder {
  color: black;
  font-weight: 500;
  margin-left: 2em;
}

.hero-flex-group input:nth-child(1)::-ms-input-placeholder {
  color: black;
  font-weight: 500;
  margin-left: 2em;
}

.hero-flex-group input:nth-child(1)::placeholder {
  color: black;
  font-weight: 500;
  margin-left: 2em;
}

input[type="submit"] {
  width: 80%;
  margin-inline: 2em;
  padding-block: 1em;
  font-weight: 700;
  border: none;
  color: white;
  border-radius: 0.2em;
  background-color: #3065f8;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.flex img {
  margin-left: 0.4em;
}

.flex ::after {
  content: "";
  display: block;
  margin-top: 0.4em;
  text-decoration: underline;
  position: absolute;
  width: 100%;
  border: 1px solid #3c9f8f;
}

.quote {
  margin-inline: 4em;
  margin-block: 4em;
}

.quote p {
  width: 85%;
  margin-top: 0.7em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-size: 0.9rem;
}

.flex-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-author img {
  margin-top: 1em;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  height: 2.5em;
  width: auto;
}

.flex-lower {
  margin-left: 1em;
}

.flex-lower p:first-of-type {
  font-weight: bold;
  font-family: "Raleway";
}

.flex-lower p:nth-child(2) {
  font-size: 0.2rem;
}

.access-container {
  margin-top: 6em;
}

.access-container__title {
  display: inline-block;
  font-size: 1.3em;
  text-align: center;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn.btn-primary {
  width: 100%;
  padding-block: 1em;
  font-weight: 700;
  border: none;
  font-size: 0.9em;
  text-align: center;
  color: white;
  border-radius: 0.2em;
  background-color: #3065f8;
}

.field-email {
  margin-block: 1em;
  padding: 0.7em;
}

.footer-container {
  background-color: #070439;
}

.footer-container div img {
  margin-block: 2em;
  margin-left: 2em;
  color: white;
}

.footer-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
}

.flex-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  font-weight: 500;
  color: white;
  vertical-align: middle;
  place-content: center;
}

.footer-links {
  margin-inline: 2em;
}

.footer-links div > p {
  margin-block: 2em;
  color: white;
}

.footer-links-2 {
  margin-inline: 2em;
  margin-block: 4em;
}

.footer-links-2 p {
  margin-block: 2em;
  color: white;
}

@media only screen and (min-width: 1440px) {
  .hero-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .hero {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .hero__title {
    margin-top: 3em;
    font-family: 'Raleway';
    width: 54%;
    margin-left: 1em;
    line-height: 1.5;
    text-align: left;
  }
  .hero__description {
    margin-left: 2.4em;
    text-align: left;
    font-family: 'Raleway';
    color: #070439;
    width: 54%;
  }
  .hero__image {
    height: 27.2em;
    position: absolute;
    right: 2em;
  }
  .hero-flex-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    position: relative;
  }
  .container__image {
    right: 0;
    position: absolute;
  }
  .footer-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (22fr)[1fr];
        grid-template-columns: repeat(1fr, 22fr);
  }
  .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .footer-links {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .footer-social-media {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  input[type="submit"] {
    height: 75%;
    margin-inline: 1em;
  }
  .container_title {
    text-align: left;
    margin-top: 9em;
  }
  .container__description {
    text-align: left;
  }
  .access-container {
    display: -ms-grid;
    display: grid;
    background-color: red;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */