$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
}

.header__image {
  width: auto;
  height: 1.6rem;
  display: inline-block;
  margin-top: 2em;
  margin-left: 1.6em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__navlinks {
    margin-top: 2em;
    list-style: none;
    display: flex;
    gap: 2em;
    margin-right: 1em;
  }
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.hero {
  order: 2;
  &__title {
    text-align: center;
    color: $very-dark-blue;
    font-family: "Open Sans";
    font-weight: 400;
    margin-top: 1.7em;
    margin-inline: 0.2em;
  }
  &__description {
    text-align: center;
    width: 85%;
    margin-block: 2em;
    line-height: 1.5;
    margin-inline: 1em;
  }
  &__image {
    height: 16em;
    margin-inline: 2em;
    margin-top: 5em;
  }
}

.section-image {
  height: 16em;
  margin-inline: 2em;
  margin-top: 12em;
  margin-bottom: 5em;
}

.hero-flex {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  margin-inline: 2em;
  margin-bottom: 1.6em;
  width: 80%;
  border: 1px solid $desaturated-blue;
  border-radius: 0.2em;
  padding-block: 1em;
}

input[type="submit"] {
  width: 80%;
  margin-inline: 2em;
  padding-block: 1em;
  font-weight: 700;
  border: none;
  color: white;
  border-radius: 0.2em;
  background-color: $bright-blue;
}

.container__title {
  font-size: 1.3em;
  text-align: center;
  color: $desaturated-blue;
}

.container__description {
  margin-inline: 1.4em;
  color: $desaturated-blue;
  margin-block: 1em;
  line-height: 1.8;
}

// .container__description span{

// }

.container__link {
  position: relative;
  text-align: center;
  justify-content: center;
  display: block;
  color: $moderate-cyan;
  font-weight: 500;
  text-decoration: underline;
}


// Quote section


.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    margin-left: 0.4em;
  }
}

.quote {
    margin-inline: 4em;
    margin-block: 4em;
}
.quote p{
    width: 85%;
    margin-top: .7em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    font-size: .9rem;
}

.flex-author{
    display: flex;
}

.flex-author img{
    margin-top: 1em;
    clip-path: circle(50%);
    height: 2.5em;
    width: auto;
}

.flex-lower{
    margin-left: 1em;

    & p:first-of-type{
        font-weight: bold;
        font-family: 'Raleway';
    }

    & p:nth-child(2){
        font-size: .2rem;
    }
}


// Footer section


.footer-container{
    background-color: $very-dark-blue;

    & div img{
        margin-block: 3em;
        margin-left: 2em;
        color: white;
    }
}


.footer-item{
    display: flex;
    color: $desaturated-blue;
}