//! SASS Variables

$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);
$font-sans: "Raleway", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: $font-sans;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__navlinks {
    margin-top: 2em;
    list-style: none;
    display: flex;
    gap: 2em;
    margin-right: 1em;
  }
  &__logo {
    width: auto;
    height: 1.6rem;
    display: inline-block;
    margin-top: 2em;
    margin-left: 1.6em;
  }
}

.hero {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  &__title {
    font-size: 1.7rem;
    text-align: center;
    color: $very-dark-blue;
    padding-inline: 1em;
    margin-block-start: 1em;
  }
  &__image {
    height: 18rem;
    width: auto;
    margin-inline: 2em;
  }

  &__description {
    text-align: center;
    margin-block-start: 2em;
    line-height: 1.6;
    color: $very-dark-blue;
    margin-inline: 3em;
  }
}

.hero__flex {
  display: flex;
  flex-direction: column;

  &__email {
    padding: 1em;
    margin-block-start: 2em;
    margin-inline: 4em;
    width: 76%;
    border-radius: 0.3rem;
    border: 1px solid $very-dark-blue;
    font-weight: 500;
  }

  &__submit {
    background-color: $bright-blue;
    color: white;
    border: none;
    width: 76%;
    margin-inline: 3.6em;
    margin-block-start: 1em;
    padding: 1em;
    border-radius: 0.3rem;
    font-family: $font-sans;
    font-weight: bold;
    font-size: 0.9em;
  }
}

.container__title {
  font-size: 1.3rem;
  text-align: center;
  margin-block-start: 2em;
}

.container__description {
  margin-inline-start: 1em;
  margin-top: 2em;
  padding-inline-end: 3.4em;
  line-height: 1.8;
  color: $desaturated-blue;

  &__lower {
    margin-inline-start: 1em;
    margin-top: 1em;
    color: $desaturated-blue;
  }
}

.container__image{
  margin-block-start: 10em;
}

.container__lower {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.3em;
  margin-block-start: 2em;

  &__link {
    color: $moderate-cyan;
  }

  &__icon {
    object-fit: contain;
    top: 0.1em;
  }

  &__link::after {
    content: "";
    display: block;
    margin-top: 0.4em;
    text-decoration: underline;
    position: absolute;
    width: 41%;
    border: 1px solid $moderate-cyan;
  }
}

.quote {
  margin-inline-start: 4em;
  margin-block-start: 3em;
  font-family: $font-sans;
  color: $very-dark-blue;

  &__flex-author {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
  }

  &__flex-lower__author-name {
    font-weight: bold;
    color: $very-dark-blue;
    letter-spacing: 0.11em;
  }

  &__flex-lower__author-position {
    font-size: 0.7rem;
  }

  &__flex-lower {
    margin-block-start: 1.5em;
  }

  &__flex-author__avatar {
    border-radius: 50%;
    height: 2rem;
    margin-block-start: 1.5em;
    width: auto;
  }
}

.access-container {
  background-color: $desaturated-blue;
  margin-block-start: 5em;
  padding: 1em;
  text-align: center;
  justify-content: center;

  &__title {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin-block-start: 2em;
    margin-block-end: 1em;
  }

  &__description {
    color: white;
    line-height: 1.6rem;
    text-align: center;
    padding-inline-end: 3em;
    padding-inline-start: 3em;
  }
}

// ! Utility Classes

.image {
  height: 18rem;
  width: auto;
  margin-inline: 2em;
}

.button__group {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-inline: 3em;

  &__email {
    padding: 0.6em;
  }

  &__email::placeholder {
    text-align: left;
  }

  &__submit {
    background-color: $bright-blue;
    color: white;
    border: none;
    margin-block-start: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 0.3rem;
    font-family: $font-sans;
    font-weight: bold;
    font-size: 0.7em;
    margin-block-end: 4em;
  }
}

.footer {
  background-color: $very-dark-blue;
  &__logo {
    margin-top: 2em;
    margin-inline-start: 2em;
  }

  &-item {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 1em;
    margin-inline-start: 2em;
    margin-block-start: 2em;
  }

  &-links,
  &-links-2 {
    color: white;
    margin-block-start: 2em;
    margin-inline-start: 2em;
  }

  &-links p,
  &-links-2 p {
    margin-block-end: 1.5em;
  }

  &-social-media {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-social-media ion-icon {
    margin-inline-end: 2em;
    border: 1px solid currentColor;
    border-radius: 50%;
    padding: 0.4rem;
    margin-block-end: 4em;
  }
}
