//! SASS Variables

$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__navlinks {
    margin-top: 2em;
    list-style: none;
    display: flex;
    gap: 2em;
    margin-right: 1em;
  }
  &__logo {
    width: auto;
    height: 1.6rem;
    display: inline-block;
    margin-top: 2em;
    margin-left: 1.6em;
  }
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.hero {
  order: 1;
  &__title {
    text-align: center;
    color: $very-dark-blue;
    font-family: "Open Sans";
    font-weight: 700;
    margin-top: 1.7em;
    margin-inline: 0.2em;
  }
  &__description {
    text-align: center;
    width: 73.5%;
    margin-block: 2em;
    line-height: 1.5;
    margin-inline: 3em;
  }
  &__image {
    margin-top: 5em;
    height: 16em;
    margin-inline: 2em;
  }
}

.hero-flex-group {
  display: flex;
  margin-inline: 1em;
  flex-direction: column;
}

.image {
  height: 16em;
  margin-inline: 2em;
}

.container__title {
  font-size: 1.3em;
  text-align: center;
  color: $very-dark-blue;
  margin-left: 1.9em;
}

.container__description {
  margin-inline: 1.7em;
  color: $desaturated-blue;
  margin-block: 2em;
  line-height: 1.8;
  width: 85%;
}

.container__image {
  margin-top: 12em;
  margin-bottom: 5em;
}

.container__link {
  text-align: center;
  justify-content: center;
  display: block;
  color: $moderate-cyan;
  position: relative;
  font-weight: 500;
  font-family: "Open Sans";
}

input[type="email"] {
  margin-inline: 2em;
  margin-bottom: 1.6em;
  width: 80%;
  border: 1px solid $desaturated-blue;
  border-radius: 0.2em;
  padding-block: 1em;
}

.hero-flex-group input:nth-child(1)::placeholder {
  color: black;
  font-weight: 500;
  margin-left: 2em;
}

input[type="submit"] {
  width: 80%;
  margin-inline: 2em;
  padding-block: 1em;
  font-weight: 700;
  border: none;
  color: white;
  border-radius: 0.2em;
  background-color: $bright-blue;
}

// Quote section

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & img {
    margin-left: 0.4em;
  }
  & ::after {
    content: "";
    display: block;
    margin-top: 0.4em;
    text-decoration: underline;
    position: absolute;
    width: 100%;
    border: 1px solid $moderate-cyan;
  }
}

.quote {
  margin-inline: 4em;
  margin-block: 4em;
}
.quote p {
  width: 85%;
  margin-top: 0.7em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-size: 0.9rem;
}

.flex-author {
  display: flex;
}

.flex-author img {
  margin-top: 1em;
  clip-path: circle(50%);
  height: 2.5em;
  width: auto;
}

.flex-lower {
  margin-left: 1em;

  & p:first-of-type {
    font-weight: bold;
    font-family: "Raleway";
  }

  & p:nth-child(2) {
    font-size: 0.2rem;
  }
}

// Get early access section

.access-container {
  margin-top: 6em;
  &__title {
    display: inline-block;
    font-size: 1.3em;
    text-align: center;
    // margin-inline: 2em;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
}

.btn.btn-primary {
  width: 100%;
  padding-block: 1em;
  font-weight: 700;
  border: none;
  font-size: 0.9em;
  text-align: center;
  color: white;
  border-radius: 0.2em;
  background-color: $bright-blue;
}
.field-email {
  margin-block: 1em;
  padding: 0.7em;
}
// Footer section

.footer-container {
  background-color: $very-dark-blue;

  & div img {
    margin-block: 2em;
    margin-left: 2em;
    color: white;
  }
}

.footer-item {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.flex-item {
  width: fit-content;
  display: grid;
  font-weight: 500;
  color: white;
  vertical-align: middle;
  place-content: center;
}

.footer-links {
  margin-inline: 2em;
  & div > p {
    margin-block: 2em;
    color: white;
  }
}

.footer-links-2 {
  margin-inline: 2em;
  margin-block: 4em;

  & p {
    margin-block: 2em;
    color: white;
  }
}

.footer-social-media {
  text-align: center;
  color: white;
  grid-template-columns: repeat(3, 0.5fr);

  & ion-icon {
    border-radius: 50%;
    border: 1px solid;
    padding: 0.5em;
    margin-right: 1rem;
  }
}

// Desktop Version

@media only screen and (min-width: 1440px) {
  .hero-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    order: -1;
    position: relative;
    display: grid;
    place-content: center;

    &__title {
      margin-top: 3em;
      font-family: "Raleway";
      width: 54%;
      margin-left: 1em;
      line-height: 1.5;
      text-align: left;
    }

    &__description {
      margin-left: 2.4em;
      text-align: left;
      font-family: "Raleway";
      color: $very-dark-blue;
      width: 54%;
    }
  }

  .hero__image {
    height: 16 * 1.7em;
    position: absolute;
    right: 2em;
  }

  .hero-flex-group {
    flex-direction: row;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    &__image {
      right: 0;
      position: absolute;
    }
  }

  .footer-item {
    display: grid;
    grid-template-columns: repeat(1fr, 22fr);
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-links {
    display: grid;
    place-items: center;
  }

  .footer-social-media {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 7em;
  }

  .footer-social-media ion-icon {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5em;
  }

  input[type="submit"] {
    height: 75%;
    margin-inline: 1em;
  }

  // .container_title{
  //   text-align: left;
  //   margin-top: 9em;
  // }

  // .container__description{
  //   text-align: left;
  // }

  .access-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
