* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar__navlinks {
  margin-top: 2em;
  list-style: none;
  right: 2em;
  display: flex;
  gap: 2em;
}
.navbar__logo {
  width: auto;
  height: 2rem;
  display: inline-block;
  margin-top: 3em;
  margin-left: 3em;
}

.hero__grid {
  display: grid;
  grid-template-columns: 1fr;
}
.hero__title {
  font-size: 1.7rem;
  text-align: center;
  color: hsl(243deg, 87%, 12%);
  padding-inline: 1em;
  margin-block-start: 2em;
}
.hero__image {
  height: 18rem;
  width: auto;
}
.hero__description {
  text-align: center;
  margin-block-start: 1em;
  line-height: 1.6;
  color: hsl(243deg, 87%, 12%);
  margin-inline: 3em;
}

.hero__flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.hero__flex__email {
  padding: 1em;
  margin-block-start: 2em;
  margin-inline-start: 4em;
  width: 36%;
  border-radius: 0.2rem;
  border: 1px solid hsl(243deg, 87%, 12%);
  font-weight: 500;
}
.hero__flex__submit {
  background-color: hsl(224deg, 93%, 58%);
  color: white;
  border: none;
  width: 18%;
  margin-block-start: 1em;
  padding: 1em;
  border-radius: 0.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
}

.container__title {
  font-size: 1.3rem;
  text-align: center;
  margin-block-start: 2em;
}

.container__description {
  margin-inline-start: 1em;
  margin-top: 2em;
  padding-inline-end: 3.4em;
  line-height: 1.8;
  color: hsl(238deg, 22%, 44%);
}
.container__description__lower {
  margin-inline-start: 1em;
  margin-top: 1em;
  color: hsl(238deg, 22%, 44%);
}

.container__image {
  margin-block-start: 23em;
}

.container__lower {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.3em;
  margin-block-start: 2em;
}
.container__lower__link {
  color: hsl(170deg, 45%, 43%);
}
.container__lower__icon {
  object-fit: contain;
  top: 0.1em;
}
.container__lower__link::after {
  content: "";
  display: block;
  margin-top: 0.4em;
  text-decoration: underline;
  position: absolute;
  width: 41%;
  border: 1px solid hsl(170deg, 45%, 43%);
}

.quote {
  margin-inline-start: 4em;
  margin-block-start: 3em;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: hsl(243deg, 87%, 12%);
}
.quote__flex-author {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
}
.quote__flex-lower__author-name {
  font-weight: bold;
  color: hsl(243deg, 87%, 12%);
  letter-spacing: 0.11em;
}
.quote__flex-lower__author-position {
  font-size: 0.7rem;
}
.quote__flex-lower {
  margin-block-start: 1.5em;
}
.quote__flex-author__avatar {
  border-radius: 50%;
  height: 2rem;
  margin-block-start: 1.5em;
  width: auto;
}
.quote__description {
  margin-block-start: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.7rem;
}

.access-container {
  background-color: hsl(238deg, 22%, 44%);
  margin-block-start: 5em;
  padding: 1em;
  text-align: center;
  justify-content: center;
}
.access-container__title {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin-block-start: 2em;
  margin-block-end: 1em;
}
.access-container__description {
  color: white;
  line-height: 1.6rem;
  text-align: center;
  padding-inline: 2.7em;
}

.image {
  height: 18rem;
  width: auto;
  margin-inline: 2em;
}

.button__group {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-inline: 3em;
}
.button__group__email {
  padding: 0.6em;
}
.button__group__email::placeholder {
  text-align: left;
}
.button__group__submit {
  background-color: hsl(224deg, 93%, 58%);
  color: white;
  border: none;
  margin-block-start: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 0.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  margin-block-end: 4em;
}

.footer {
  background-color: hsl(243deg, 87%, 12%);
}
.footer__logo {
  margin-top: 2em;
  margin-inline-start: 2em;
}
.footer-item {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 1em;
  margin-inline-start: 2em;
  margin-block-start: 2em;
}
.footer-links, .footer-links-2 {
  color: white;
  margin-block-start: 2em;
  margin-inline-start: 2em;
}
.footer-links p, .footer-links-2 p {
  margin-block-end: 1.5em;
}
.footer-social-media {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-social-media ion-icon {
  margin-inline-end: 2em;
  border: 1px solid currentColor;
  border-radius: 50%;
  padding: 0.4rem;
  margin-block-end: 4em;
}

@media only screen and (min-width: 1440px) {
  .navbar__navlinks {
    position: absolute;
    right: 4em;
  }

  .hero__grid {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }

  .hero {
    order: -1;
  }
  .hero__image {
    position: absolute;
    right: 0;
    top: 0;
  }
  .hero__title {
    text-align: left;
    margin-inline-start: 0.6em;
    padding-inline-end: 6em;
    line-height: 1.6em;
    font-size: 2em;
  }
  .hero__description {
    text-align: left;
    margin-inline-end: 23em;
    margin-inline-start: 3.3em;
  }
  .hero__flex {
    display: flex;
    flex-direction: row;
  }
  .hero__flex__submit {
    margin-block-start: 2em;
  }

  .access-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .access-container__title {
    text-align: left;
    margin-inline-start: 1.4em;
    font-size: 1.8em;
  }
  .access-container__description {
    text-align: left;
    width: fit-content;
    padding-inline-end: 14em;
    margin-block-end: 3em;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container__content {
    order: -1;
  }
  .container__title {
    text-align: left;
    margin-inline-start: 1.9em;
    margin-block-start: 12em;
    font-size: 1.7rem;
    color: hsl(243deg, 87%, 12%);
  }
  .container__description {
    margin-inline-start: 3.2em;
    margin-inline-end: 20em;
    color: hsl(243deg, 87%, 12%);
  }
  .container__description__lower {
    margin-inline-start: 3.2em;
    margin-inline-end: 23em;
    line-height: 1.7;
    color: hsl(243deg, 87%, 12%);
  }
  .container__lower {
    justify-content: left;
    margin-inline-start: 3em;
    width: 42.1%;
    align-items: left;
  }

  .quote {
    margin-left: 5em;
  }
  .quote__description {
    padding-inline-end: 55em;
    letter-spacing: 0.1rem;
  }
  .quote__flex-lower__author-name {
    font-size: 0.9rem;
    letter-spacing: 0.12rem;
  }
  .quote__flex-lower__author-position {
    font-size: 0.7rem;
  }

  .button__group {
    margin-block-start: 5em;
  }
  .button__group__email {
    padding: 0.7rem;
    border-radius: 0.3rem;
    width: 70%;
  }
  .button__group__submit {
    width: 26%;
    padding: 1.3em;
    font-size: 0.8rem;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3em;
  }
  .footer-social-media ion-icon {
    margin-block-start: 7em;
  }
  .footer-links, .footer-links-2 {
    margin-block-start: 7.5em;
  }
}
